{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }

  .featured__collections{
     /* padding-bottom: 28px;
     border-bottom: 0.5px solid #e0e0e0; */
   }
  .header__container-{{ id }} h2{
    color: var(--Content-Base-primary, #111827);
    font-size: 72px;
    line-height: 1; /* 91.667% */
    text-transform: capitalize;
    min-width: max-content;
    margin: 0;
  }
  .featured__collection-headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    padding: 0 0 10px;
  }

  .featured__collection-headers::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 8px;
  }

  .featured__collection-headers::-webkit-scrollbar{
    background-color: #F5F5F5;
    height: 3px;
  }

  .featured__collection-headers::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 8px;
  }

  .collection__header-item{
    color: var(--Content-Base-subtle, #6B7280);
    font-size: 22px;
    line-height: normal;
    padding: 8px 24px;
    min-width: max-content;
  }


  .collection__header-item {
    cursor: pointer;
  }
  .collection__header-item.selected {
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background: #F5F5F5;
    color: #000;
  }
  .featured__collection {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .featured__collection.active {
    display: block;
    opacity: 1;
  }

  @media screen and (min-width: 769px){
    .header__container-{{ id }}{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      margin: 0 0 64px;
    }
  }

  @media screen and (max-width: 768px){

   .header__container-{{ id }}{
      margin: 0 0 32px;
    }
    .header__container-{{ id }} h2{
      font-size: 40px;
      line-height: 44px; /* 91.667% */
      margin: 0 0 12px;
    }
    .featured__collection-headers{
      align-items: flex-start;
    }
    .collection__header-item{
      font-size: 16px;
      line-height: 20px;
      padding: 8px 16px;
    }
    .featured__collections{
     /* padding-bottom: 18px; */
   }

  }
</style>

<div
  class="sec-{{ id }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="header__container-{{ id }}">
      {% if section.settings.title != blank %}
        <h2 class="heading-{{ id }}">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="featured__collection-headers">
          {% for block in section.blocks %}
            <div
              data-item="{{ block.settings.collection.handle }}-{{ block.id }}"
              class="collection__header-item {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% if block.settings.title != blank %}
                {{ block.settings.title }}
              {% else %}
                {{ block.settings.collection.title }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="featured__collections">
      {% for block in section.blocks %}
        <div data-item="{{ block.settings.collection.handle }}-{{ block.id }}" class="featured__collection">
          <div class="featured__collection-wrapper new-product-grid">
            {% for product in block.settings.collection.products limit: 4 %}
              {% render 'product-card', product: product, forloop: forloop %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const headerItems = document.querySelectorAll('.sec-{{ id }} .collection__header-item');
    const collections = document.querySelectorAll('.sec-{{ id }} .featured__collection');

    collections[0].classList.add('active');

    headerItems.forEach((item, index) => {
      item.addEventListener('click', function() {
        const target = this.dataset.item;

        headerItems.forEach(item => {
          item.classList.remove('selected');
        });

        if(headerItems.length > 1){
          this.classList.add('selected');
        }

        collections.forEach(collection => {
          if (collection.dataset.item === target) {
            collection.classList.add('active');
            setTimeout(() => {
              collection.style.opacity = 1;
            }, 10);
          } else {
            collection.classList.remove('active');
            collection.style.opacity = 0;
          }
        });
      });
      if (index === 0 && headerItems.length > 1) {
        item.classList.add('selected');
      }

    });
  });
</script>
{% schema %}
{
  "name": "Featured Collection 1",
  "class": "lazyload",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Top Selling Coffees"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "Collection",
      "name": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection 1"
    }
  ]
}
{% endschema %}
